

#buscador-index{
    
      align-content: center;
     transform: translateX(125%);
}


.card-text{
      background-color:#EBF5FB  ;
      
}

/* Footer */

footer {
    background-color: #34495E;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
   height: 8%;
    text-align: center;
    color: #CCC;
}

footer p {
    padding: 10.5px;
    margin: 0px;
    line-height: 100%;
}

.bloque {
    text-align: center;
}

#fondoBloque {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
}


/* NAV */

#navegador{
      background-color: #EAF2F8;
}

/* AvatarFile*/

#avatarFile{
    text-align: center;
  margin: auto;
}

/*btnActualizar*/

#btnActualizar{
    text-align: center;
        display: block;
    width: 150px;
    height: 25px;
  
    margin: 0 auto;
    
    background: #EBF5FB;

    box-shadow: inset 0px 0px 6px #fff;
    -webkit-box-shadow: inset 0px 0px 6px #fff;
    border: 1px solid #62C2F9;
    border-radius: 10px;
    float: left;
}



		/* blue panel */
	
	/* COMMON PRICING STYLES */
    .panel.price,
    .panel.price>.panel-heading{
        border-radius:0px;
         -moz-transition: all .3s ease;
        -o-transition:  all .3s ease;
        -webkit-transition:  all .3s ease;
    }
    .panel.price:hover{
        box-shadow: 0px 0px 30px rgba(0,0,0, .2);
    }
    .panel.price:hover>.panel-heading{
        box-shadow: 0px 0px 30px rgba(0,0,0, .2) inset;
    }
    
            
    .panel.price>.panel-heading{
        box-shadow: 0px 5px 0px rgba(50,50,50, .2) inset;
        text-shadow:0px 3px 0px rgba(50,50,50, .6);
    }
        
    .price .list-group-item{
        border-bottom-:1px solid rgba(250,250,250, .5);
    }
    
    .panel.price .list-group-item:last-child {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .panel.price .list-group-item:first-child {
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
    
    .price .panel-footer {
        color: #fff;
        border-bottom:0px;
        background-color:  rgba(0,0,0, .1);
        box-shadow: 0px 3px 0px rgba(0,0,0, .3);
    }
    
    
    .panel.price .btn{
        box-shadow: 0 -1px 0px rgba(50,50,50, .2) inset;
        border:0px;
    }
    
		
		.price.panel-blue>.panel-heading {
			color: #fff;
			background-color: #608BB4;
			border-color: #78AEE1;
			border-bottom: 1px solid #78AEE1;
		}
		
			
		.price.panel-blue>.panel-body {
			color: #fff;
			background-color: #73A3D4;
		}
				
		
		.price.panel-blue>.panel-body .lead{
				text-shadow: 0px 3px 0px rgba(50,50,50, .3);
		}
		
		.price.panel-blue .list-group-item {
			color: #333;
			background-color: rgba(50,50,50, .01);
			font-weight:600;
			text-shadow: 0px 1px 0px rgba(250,250,250, .75);
		}
		